flask~=3.0.3
markupsafe
# FRIDA
torch~=2.2.0+cu121
torchvision~=0.17.0+cu121
torchgeometry
torch-tools
lpips
ftfy~=6.2.3
regex~=2024.11.6
git+https://github.com/openai/CLIP.git
colour-science
tensorboardX~=2.1
kornia~=0.7.3
librosa~=0.10.2.post1
timm~=1.0.14
transformers~=4.46.3
diffusers~=0.32.2
accelerate~=1.0.1
transformers
scikit-learn
requests==2.27.1
setuptools~=75.1.0
catkin-pkg~=1.0.0
opencv-python~=4.11.0.86
numpy~=1.24.1
matplotlib~=3.7.5
pillow~=9.5.0
scikit-image~=0.21.0
tqdm~=4.67.1
mujoco~=3.2.3
loguru~=0.7.3
scipy~=1.9.1
uvicorn~=0.27.0
starlette~=0.35.1
fastapi~=0.109.0
pydantic~=2.10.6
pymycobot~=3.7.0
protobuf~=3.20.3
glfw~=2.9.0
pyopengl~=3.1.9
boto3~=1.37.38
botocore~=1.37.38
pandas~=2.0.3
huggingface-hub~=0.28.1
packaging~=24.2
docutils~=0.20.1
sympy~=1.13.1
pygments~=2.19.1
pyserial~=3.5